@import 'bootstrap/dist/css/bootstrap.min.css';
html,
body {
  width: 100%;
}
.table_container {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}
.loader {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
